
/* Styles for larger screens */
html,
body {
  overflow-x: hidden;
  margin: 0;
}

.container {
  width: 150%;
}

img {
  width: 500px;
  height: 350px;
}

nav {
  height: 60px;
  padding: 0 24px 0 16px;
}

nav img {
  width: 32px;
  height: 32px;
}

/* section {
  padding: 0 80px;
} */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 80px;
}

h2 {
  margin: 50px 0 20px;
}

p {
  opacity: 0.66;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.panel {
  width: 150%;
  height: 120%;
  padding: 20px;
}

.container .panel:nth-child(odd) {
  background: #FFFFF0;
}
