
/* Styles for larger screens */
html,
body {
  overflow-x: hidden;
  margin: 0;
}

.container {
  width: 150%;
}

img {
  width: 500px;
  height: 350px;
}

nav {
  height: 80px;
  padding: 0 28px 0 20px;
}
nav a {
  font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  justify-content: space-evenly;
}

nav a:hover{
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

nav a:active{
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

nav img {
  width: 35px;
  height: 35px;
}

section {
  padding: 10px 80px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 80px;
}

h2 {
  margin: 50px 0 20px;
}

p {
  opacity: 0.66;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.panel {
  width: 150%;
  height: 120%;
  padding: 20px;
}

.container .panel:nth-child(odd) {
  background: #FFFFF0;
}
